* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
}

.imagem-formulario {
    flex: 1;
    overflow: hidden;
}

.imagem-formulario img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario {
    flex: 0.5;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.box {
    width: 80%;
    max-width: 400px;
}

.form-box h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: "salt", sans-serif;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background: transparent;
    color: rgb(62, 62, 62);
    padding: 0 6px;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.2s ease all;
    border-radius: 4px;
  }

.input-group input {
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
    color: black;
    background-color: #f4f4f4;
    border: 3px solid #673FD7;;
    border-radius: 50px;
    outline: none;
    margin-top: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
    border-color: #4c65bd;
    box-shadow: 0 0 10px #4458a0;
  }

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 4px;
  font-size: 0.75rem;
  color: #673FD7;
  font-weight: bold;
}

a {
    font-size: 0.85rem;
    color: #673FD7;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

#env {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #env:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  @media (min-width: 768px) {
    #env {
      padding: 0 2.6rem;
    }
  }

@font-face {
    font-family: salt;
    src: url(HoneySalt.otf);
  }